{% extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <div class="container-sm text-center">

        <h1 class="display-3"> Bienvenido a My App </h1>

        <p class="lead"> En esta aplicación web, puedes registrar tus tareas y obtener una vista general de tus responsabilidades, ayudándote a mantenerte organizado y enfocado. </p>

        <hr class="my-4">

        <p> Tenes una cuenta? </p>

        <div class="d-flex justify-content-center">
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary mx-2"> Iniciar sesion </a>
            <a href="{{ url_for('auth.register') }}" class="btn btn-secondary mx-2"> Registrarse </a>
        </div>
    </div>
{% endblock %}